<div class="container">
  <div class="sidebar">
    <div class="sidebar-top">
      <img src="assets/logo.png" class="logo" alt="Logo">
      <h2 class="welcome-message">Olá, seja bem-vindo!</h2>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/pesquisa-postos">Pesquisar Postos</a>
      <a routerLink="/lista-precos">Lista de Preços</a>
    </div>
  </div>
  

  <main class="main-content">
    <router-outlet></router-outlet>
    <footer class="footer"><h4>Valores de Postos 2025 - VaPo</h4></footer>
  </main>
</div>
